*{
    margin: 0;
}

.hero{
    background-color: #1F2937;
    height: 60vh;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-right: 500px;
}


.navbar li{
    color: #E5E7EB;
    font-size: 24px;
    display: inline-block;
    padding: 0px;
    margin-right: 50px;
}

.heromain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heroleft{
    margin-left: 200px;
    margin-right: 100px;
}

.heroleft h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.heroleft p{
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
    margin-right: 165px;
    margin-top: 40px;
}

.heroright{
    margin-right: 245px;
    margin-top: 100px;

}

