*{
    margin: 0;
}

.hero{
    background-color: #1F2937;
    height: 30%;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-right: 500px;
}


.navbar li{
    display: inline-block;
    padding: 0px;
    margin-right: 50px;
}

.navbar a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 24px;
}

.heromain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heroleft{
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 50px;

}

.heroleft h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.heroleft p{
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
    margin-right: 165px;
    margin-top: 40px;
}

.cta{
    background-color: #3882fc;
    color: white;
    margin-top: 15px;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: bold;
    border: 1px #3882fc solid; 
    border-radius: 12px;
}
.heroright{
    margin-right: 245px;
    margin-top: 100px;
    margin-bottom: 50px;

}

.secondsection{
    height: 30%;
}

.secondsectionheader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    font-size: 36px;
    color: #1F2937;
}

.secondsectioncontent{
    display: flex;
    justify-content: center;
    height: 40vh;
    margin-top: 10px;
}

.secondsectioncontent div{
    margin-left: 60px;
}

.secondsectioncontent p{
    color: #1f2937;
    margin-top: 12px;
    text-align: center;
    width: 200px;
    }

.secondsectioncontent img{
    border: 5px #3882fc solid;
    border-radius: 12px;
}
